
<div id="wrapper">
    <div id="first"><a id='link' href="/teacher/login"><p>Я Викладач</p></a>
      <img src="../../../t.png" alt="">
    </div>
    <div id="second"><a href="/user/login"><p>Я Студент</p></a>
    <img src="../../../s.png" alt="">
    </div>
    <div id="third"><a href="/admin/login"><p>Я Адміністратор</p></a>
<img src="../../../a.png" alt="">
    </div>
</div>
<style >

p {
  text-align: center;
  color: white;
  font-size: 32px;
  vertical-align: middle;
/* margin:0; padding:0; */
}
a:link{
  text-decoration: none;
}
a {
  text-decoration: none;
  height: 100%;
  width: 100%;
  font-size: 32px;
  vertical-align: middle;
  /* margin:0; padding:0; */

}

html,body{ margin:0; padding:0; height:100%; width:100%; }
#wrapper a,p {
  margin-top: 20%;
  text-decoration: none;
}

#wrapper img {
  margin-top: 20%;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
}

#wrapper {
    height: 100%;
    width: 100%;

    /* border: 1px solid black; */
}
#first {
  background-color: #008744;
  margin:0; padding:0;
    float:left; /* add this */
    width: 33%;
    height: 100%;
    /* border: 1px solid red; */
}
#second {
  background-color: #d62d20;
  margin:0; padding:0;
  float:left; /* add this */
  width: 33%;
  height: 100%;
    /* border: 1px solid green; */
}
#third {
  background-color: #ffa700;
  margin:0; padding:0;
  float:left; /* add this */
  width: 33%;
  height: 100%;
    /* border: 1px solid green; */
}
</style>
